@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Teko:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #121212;

}

body {
    font-family: 'Fjalla One', sans-serif;
    color: white;

}

h1,
h2 {
    color: orange;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 300%;
}

#navigation {
    font: size 120%;
    letter-spacing: 3px;
    float: right;
}

#navigation,
#logo {
    line-height: 70px;
}

#navigation li {
    float: left;
    list-style-type: none;
    margin-right: 50px;
}

#navigation a {
    text-decoration: none;
    color: orange;

}

#navigation a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url(../images/pexels-rodnae-productions-7915493.jpg) no-repeat center center;
}

#cover-text {
    font: size 130%;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    background-color: rgba(245, 153, 39, 0.8);

    bottom: 10px;
    right: 250px;


    position: absolute;
}

#cover-heading {
    color: white;
    text-transform: uppercase;
}

#why-join {
    height: 600px;
    padding-top: 40px;
}

#section-one-text {

    padding: top 30px;
    width: 50%;
    float: left;
    margin-left: 30px;
    letter-spacing: 2px;
}

#section-one-image {
    padding-top: 600px;
    float: right;
    width: 50%;
    height: auto;
    background: url(../images/pexels-suludan-diliyaer-596750.jpg) no-repeat;
    background-size: cover;
}