/*Our chosen font for the website*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Teko:wght@400;600&display=swap');


/*Basic styling for entire page*/
body {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    border: none;
    background-color: black;
    position: relative;
}

/*Basic styling for h1 sized headings*/
h1 {
    color: orange;
    text-transform: uppercase;
}

/*Basic styling for h2 sized headings*/
h2 {
    color: white;
    text-transform: uppercase;
    width: 100%;

}

/*Website main logo*/
#logo {
    float: left;
    font-size: 300%;
}

/*Nav bar styling*/
#navigation {
    font-size: 120%;
    letter-spacing: 3px;
    float: right;
}

/*Gives spacing to nav bar and logo text*/
#navigation,
#logo {
    line-height: 70px;
}

#navigation li {
    float: left;
    list-style-type: none;
    margin-right: 50px;
}

#navigation a {
    text-decoration: none;
    color: orange;

}

/*Underlines nav bar options*/
#navigation a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

/*Box in the corner of the hero image*/
#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

/*Styling for hero image covering the top fo the website*/
#hero-image {
    height: 800px;
    width: 100%;
    background: url(../images/hero_image.jpg) no-repeat center center;
}

/*Text in the box of the hero outer section*/
#cover-text {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    background-color: rgba(245, 153, 39, 0.8);

    bottom: 10px;
    right: 20px;


    position: absolute;
}

/*Heading of hero outer box*/
#cover-heading {
    color: white;
    text-transform: uppercase;
}

/*Basic styling for the why join section*/
.why-join {
    height: 600px;
    padding-top: 40px;
    background-color: black;
    width: 100%;
}

/*Titles in the why join section*/
.why-join h2 {
    color: orange;
    text-transform: uppercase;
    text-align: center;
}

/*Text in why join section*/
.section-one-text {

    padding-top: 30px;
    width: 50%;
    float: left;
    margin-top: 20px;
    letter-spacing: 2px;
    color: white;

}

/*Image located next to why join section on larger devices*/
.section-one-image {
    float: right;
    width: 600px;
    height: 600px;
    background: url(../images/section_one_img.jpg) no-repeat;
    background-size: contain;
    position: relative;
}

/*For the days in the schedule section*/
.daily-event {
    color: black;
    background-color: orange;
    width: 100%;
    text-align: center;
    float: right;

}

/*Titles in the schedule section*/
.daily-event h2 {
    color: black;
}

/*Sign up form styling*/
.sign-up-form {
    color: orange;
    background-color: black;
    width: 100%;
    text-align: center;
    float: right;

}

/*Titles in the sign up form section*/
.sign-up-form h2 {
    color: white;
}

/*Changes labels to white*/
label {
    color: white;
}

/*Centers sign up form to improve accessibilty on smaller devices*/
.form-inputs {
    text-align: center;
    width: 100%;
}

/*Footer styling */
#footer {
    color: orange;
    background-color: black;
    width: 100%;
    text-align: center;
    float: right;
}

/*Improves readability on smaller devices*/
@media screen and (max-width: 768px) {
    body {
        background-color: black;
        width: 100%;

    }

    .section-one-image {
        display: none;
    }

    .section-one-text {
        text-align: center;
        width: 100%;
    }

}